<h1>Componente 3</h1>
<ng-content #name></ng-content>

<input type="text" [(ngModel)]="name" />
<div *ngIf="ngifPreueba else elseP">
  <p>directiva if verdadera</p>
</div>
<ng-container *ngIf="ngifPreueba else elseP">
  <p>
    directiva if verdadera con ng-contarner en lugar de un div asi no genera
    html en el dom
  </p>
</ng-container>

<ng-template #elseP>
  <p>es un template else por falso</p>
</ng-template>
<button (click)="ngifPreueba = !ngifPreueba">ngIf</button>
<div>
  <ul>
    <li *ngFor="let item of alumons;">
      {{ item.id + item.name + " edad " + item.age }}
      <button (click)="borrarAlumno(item.id)">borrar</button>
    </li>
  </ul>
</div>
<div>
  <button (click)="addAlumon()">Agregar Alumno</button>
</div>
<input type="text" [(ngModel)]="color" />
<div [ngSwitch]="color">
  <p *ngSwitchCase="'red'">red</p>
  <p *ngSwitchCase="'blue'">blue</p>
  <p *ngSwitchDefault>Default</p>
</div>
