<div
  class="container d-flex align-items-center justify-content-center flex-column"
  style="height: 100vh;"
>
  <p>validacion de formulario de plantillas</p>
  <input
    type="text"
    required
    minlength="5"
    maxlength="10"
    [(ngModel)]="name"
    #nameLocal="ngModel"
  />
  <div>{{ nameLocal }}</div>

  <div *ngIf="nameLocal.invalid && (nameLocal.dirty || nameLocal.touched)">
    <div *ngIf="nameLocal.errors?.required">El campo es requerido</div>
    <div *ngIf="nameLocal.errors?.minlength">
      El campo debe tener al menos 5 caracteres
    </div>
    <div *ngIf="nameLocal.errors?.maxlength">
      El campo debe tener maximo 20 caracteres
    </div>
  </div>
</div>
