<h1>App Wallets</h1>
<h2>
  total eth: {{ total('eth') }} total btc: {{ total('btc') }}
</h2>
<h2 style="text-align: center;">
  <div *ngIf="getTransactionStatus()" style="margin: 20px;">
    No hay mas transaccoines que realizar
  </div>

  -------------------WALETS------------------------
</h2>
<div
  style="
    display: flex;
    gap: 20px;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  "
>
  <ng-container *ngFor="let wallet of wallets" style="display: flex;">
    <app-wallet [data]="wallet"></app-wallet>
  </ng-container>
</div>

<h2 style="text-align: center;">
  -------------------TRANSACTIONS------------------------
</h2>

<div
  style="
    display: flex;
    gap: 20px;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  "
>
  <ng-container *ngFor="let transaction of transactions; let i = index">
    <app-transaction [data]="transaction">
      <button
        (click)="onMiner(transaction, i)"
        style="
          padding: 5px 15px;
          background-color: blue;
          border-radius: 5px;
          color: aliceblue;
        "
        [disabled]="transaction.mineType=== 'PoS' && transaction.miner<20"
        [style.background]="(transaction.mineType=== 'PoS' && transaction.miner<20) ? 'gray' : 'blue'"
        [style.cursor]="(transaction.mineType=== 'PoS' && transaction.miner<20) ? '' : 'pointer'"
      >
        Miner
      </button>
    </app-transaction>
  </ng-container>
</div>
