<router-outlet></router-outlet>

<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.left" /> Left
    (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.middle" /> Middle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.right" /> Right
  </label>
</div>
<hr />
<pre>{{model | json}}</pre>

<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

<mat-spinner></mat-spinner>
